.home-bg-container {
  width: 100vw;
  min-height: 90vh;
  background: linear-gradient(
    to right,
    #dbbcc4 9.68%,
    #f3dfd8 32.98%,
    #d8bfd0 75.7%,
    #b7b1d5 99.11%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-container1 {
  background-color: #ffffff;
  width: 60%;
  height: 80vh;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-image1 {
  width: 370px;
  height: 250px;
  margin-bottom: 30px;
}
.home-p1 {
  color: #0ea5e9;
  font-family: 'Roboto';
  font-weight: bold;
}
.home-p2 {
  color: #475569;
  font-family: 'Roboto';
  font-size: 12px;
}
.home-btn1 {
  color: #ffffff;
  background-color: #0ea5e9;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border-width: 0px;
  margin-top: 10px;
}
